<div class="modal fade" id="actionModal" tabindex="-1" aria-labelledby="actionModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="actionModalLabel">Placeholder Label</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="modalMessage" class="modal-body">
                Placeholder Message
            </div>
            <div class="modal-footer">
                <form id="actionForm" method="post" action="">
                    {% csrf_token %}
                    <button id="confirmButton" type="submit" class="btn btn-danger">Sim</button>
                </form>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Não, voltar</button>
            </div>
        </div>
    </div>
</div>