<!-- header.html -->
{% load static %}
<div class="container">
    <header
        class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">

        <div class="col-md-3 mb-2 mb-md-0">
            <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
                <img class="bi" width="250" role="img" aria-label="Bootstrap"
                    src="{% static 'images/Logo-AWS-color.png' %}">
                </img>
            </a>
        </div>

        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a href="{% url 'index' %}" class="nav-link px-2">Home</a></li>
            {% if request.user.is_authenticated %}
                <li><a href="{% url 'user_profile' %}" class="nav-link px-2">Perfil</a></li>
                <li><a href="{% url 'personal_info' %}" class="nav-link px-2">Informações Pessoais</a></li>
            {% else %}
                <li><a href="{% url 'login' %}" class="nav-link px-2">Perfil</a></li>
                <li><a href="{% url 'login' %}" class="nav-link px-2">Informações Pessoais</a></li>
            {% endif %}
        </ul>

        <div class="col-md-3 text-end">
            <a type="button" href="{% url 'login' %}" class="btn btn-outline-primary me-2">Login</a>
            <a type="button" href="{% url 'register' %}" class="btn btn-primary">Cadastre-se</a>
        </div>
    </header>
</div>