app/__pycache__
app/forms/__pycache__
app/migrations/__pycache__
app/models/__pycache__
backend/__pycache__
backend/app/forms/__pycache__
user_accounts/__pycache__
user_accounts/migrations/__pycache__
venv
.data/db
.user_storage
user_storage/user_4
user_storage/user_1
