<!-- dashboard/header.html -->
{% block content %}
{% load static %}
<header class="p-3 mb-3 border-bottom">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
          <use xlink:href="#bootstrap"></use>
        </svg>
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="{% url 'list_work_request' %}" class="nav-link px-2 link-secondary" style="background-color: rgba(173, 216, 230, 0.5);">Tarefas Disponíveis</a></li>
      </ul>

      <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
        <input type="search" class="form-control" placeholder="Pesquisar..." aria-label="Search">
      </form>

      <div class="dropdown text-end">
        <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1"
          data-bs-toggle="dropdown" aria-expanded="false">
          <span style="position: absolute; top: -8px; left: 16px;" class="badge bg-danger">4</span>
          {% if user.profile_image %}
          <img src="{{ user.profile_image.url }}" alt="user_profile" width="32" height="32" class="rounded-circle">
          {% else %}
          <img src="{% static 'images/default_profile.jpg'%}" alt="user_profile" width="32" height="32"
            class="rounded-circle">
          {% endif %}
        </a>
        <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
          <li><a class="dropdown-item" href="#">Mensagens
              <span class="badge bg-danger">0</span>
            </a>
          </li>
          <li><a class="dropdown-item" href="{% url 'user_dashboard' %}">dashboard</a></li>
          <li><a class="dropdown-item" href="{% url 'password_change' %}">Trocar senha</a></li>
          <li><a class="dropdown-item" href="{% url 'user_profile' %}">Perfil</a></li>
          <li><a class="dropdown-item" href="{% url 'personal_info' %}">Informações Pessoais</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li>
            <form action="{% url 'logout' %}" method="post" class="d-inline">
              {% csrf_token %}
              <button type="submit" class="dropdown-item">Sair</button>
            </form>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
<script src="{% static 'js/modal.js'%}"></script>
{% endblock %}