<!-- home.html -->
{% extends "base.html" %}

{% block title %}Home{% endblock title %}

{% block content %}
<div class="container">
  {% if user.is_authenticated %}
    <div class="acessibilidade">
      <!-- Botões para aumentar ou diminuir a fonte -->
      <button onclick="aumentarFonte()" 
      style="border: 1px solid white; 
            background-color: rgba(255, 255, 255, 0.726); 
            color: rgb(25, 118, 211); 
            padding: 6px 14px; 
            font-size: 14px; 
            border-radius: 8px; 
            cursor: pointer; 
            transition: background-color 0.3s, color 0.3s; 
            margin-bottom: 10px;">
      Aumentar Fonte
      </button>
      <button onclick="diminuirFonte()" 
              style="border: 2px solid white; 
                  background-color: rgba(255, 255, 255, 0.726); 
                  color: rgb(25, 118, 211); 
                  padding: 6px 14px; 
                  font-size: 14px; 
                  border-radius: 8px; 
                  cursor: pointer; 
                  transition: background-color 0.3s, color 0.3s; 
                  margin-bottom: 10px;">
          Diminuir Fonte
      </button>
      <script>
          function aumentarFonte() {
              let html = document.documentElement; 
              let style = window.getComputedStyle(html, null).getPropertyValue('font-size');
              let currentSize = parseFloat(style);
              html.style.fontSize = (currentSize + 1) + 'px';  // Aumenta a fonte em 1px
          }
          
          function diminuirFonte() {
              let html = document.documentElement;
              let style = window.getComputedStyle(html, null).getPropertyValue('font-size');
              let currentSize = parseFloat(style);
              html.style.fontSize = (currentSize - 1) + 'px';  // Diminui a fonte em 1px
          }                    
      </script>
    </div>
  <h2>Olá {{ user.first_name }}!</h2>

  <main class="container p-3">
    {% if not user.documents.crea or not user.documents.rg or not user.documents.cpf or not user.documents.passport or not user.addresses.exists or not user.contact_info.exists %}
    <div>
      <h4>Faltam os seguintes passos para começar a buscar propostas:</h4>
      <ul class="list-group">
        {% if not user.documents.crea %}
        <li class="list-group-item">Dados do CREA</li>
        {% endif %}
        {% if not user.documents.rg %}
        <li class="list-group-item">Dados do RG</li>
        {% endif %}
        {% if not user.documents.cpf %}
        <li class="list-group-item">Dados do CPF</li>
        {% endif %}
        {% if not user.documents.passport %}
        <li class="list-group-item">Dados do Passaporte</li>
        {% endif %}
        {% if not user.addresses.exists %}
        <li class="list-group-item">Dados do Endereço</li>
        {% endif %}
        {% if not user.contact_info.exists %}
        <li class="list-group-item">Dados de Contato</li>
        {% endif %}
      </ul>

      <div class="d-flex gap-2 mt-3">
        {% if not user.documents.crea or not user.documents.rg or not user.documents.cpf or not user.documents.passport %}
        <a href="{% url 'upload_file' %}" class="btn btn-primary">Adicionar Documentos</a>
        {% endif %}
        {% if not user.addresses.exists or not user.contact_info.exists %}
        <a href="{% url 'personal_info' %}" class="btn btn-primary">Adicionar Informações Pessoais</a>
        {% endif %}
      </div>
    </div>
    {% else %}
    <div>
      <h4>Você já possui todos os documentos e informações necessários para começar a buscar propostas!</h4>
      <a href="{% url 'list_work_request' %}" class="btn btn-primary">Buscar Propostas</a>
    </div>
    {% endif %}
  </main>
  {% else %}
  <div class="text-center">
    <p>Você não está logado</p>
    <p>redirecionando...</p>
  </div>
  {% endif %}
</div>
<style>
  .container .acessibilidade {
    position: fixed;
    top: 32%;
    left: 1050px;
    transform: translateY(-50%); 
}

  .container .acessibilidade button:hover {
      background-color: blue; 
      color: white;  
  }

  .container .acessibilidade button:focus {
      outline: none; 
      box-shadow: 0 0 5px blue;  
  }
</style>
{% endblock content %}