{% extends "base.html" %}
{% load static %}

{% block title %}Perfil do Usuário{% endblock %}

{% block content %}

<div class="acessibilidade">
    <!-- Botões para aumentar ou diminuir a fonte -->
    <button onclick="aumentarFonte()" 
    style="border: 1px solid white; 
           background-color: rgba(173, 216, 230, 0.5); 
           color: rgb(25, 118, 211); 
           padding: 6px 14px; 
           font-size: 14px; 
           border-radius: 8px; 
           cursor: pointer; 
           transition: background-color 0.3s, color 0.3s; 
           margin-bottom: 10px;">
    Aumentar Fonte
    </button>
    <button onclick="diminuirFonte()" 
            style="border: 2px solid white; 
                background-color: rgba(173, 216, 230, 0.5); 
                color: rgb(25, 118, 211); 
                padding: 6px 14px; 
                font-size: 14px; 
                border-radius: 8px; 
                cursor: pointer; 
                transition: background-color 0.3s, color 0.3s; 
                margin-bottom: 10px;">
        Diminuir Fonte
    </button>
    <script>
        function aumentarFonte() {
            let html = document.documentElement; 
            let style = window.getComputedStyle(html, null).getPropertyValue('font-size');
            let currentSize = parseFloat(style);
            html.style.fontSize = (currentSize + 1) + 'px';  // Aumenta a fonte em 1px
        }
        
        function diminuirFonte() {
            let html = document.documentElement;
            let style = window.getComputedStyle(html, null).getPropertyValue('font-size');
            let currentSize = parseFloat(style);
            html.style.fontSize = (currentSize - 1) + 'px';  // Diminui a fonte em 1px
        }                    
    </script>
</div>

<div class="container mt-5 text-center">
    <div class="profile-image-container">
        {% if profile_image %}
        <div class="profile-image-wrapper">
            <img class="profile-image" src="{{ profile_image }}" alt="Profile Image">
        </div>
        {% else %}
        <div class="profile-image-wrapper">
            <img src="{% static 'images/default_profile.jpg' %}" alt="Default Profile Image" class="profile-image">
        </div>
        {% endif %}
        <form method="post" enctype="multipart/form-data" action="{% url 'user_profile' %}" class="p-3 upload-form">
            {% csrf_token %}
            <input type="file" name="profile_image" id="profile_image" accept="image/*" style="display: none;"
                onchange="this.form.submit();">
            <button type="button" class="btn btn-sm btn-primary"
                onclick="document.getElementById('profile_image').click();">Trocar imagem</button>
        </form>
    </div>
    <h3>{{ user.email }}</h3>

    <div class="text-center align-self-center mx-auto" style="max-width: 500px;">
        <a href="{% url 'password_change' %}" class="btn btn-link">Trocar Senha</a>
        <a href="#" class="btn btn-link">Alterar Informações</a>
        <div class="p-2"><a href="{% url 'upload_file' %}">Status da Documentação: <b>Pendente</b></a></div>
        <ul class="list-group list-group-flush d-flex text-center">
            <li class="list-group-item d-flex justify-content-center">CREA:
                {% if documents.crea %}
                <h1 class="text-success px-2">{{ done|safe }}
                </h1>
                {% else %}
                <h1 class="text-danger px-2">{{ pending|safe }}
                </h1>
                {% endif %}
            </li>
            <li class="list-group-item d-flex justify-content-center">PASSAPORTE:
                {% if documents.passport %}
                <h1 class="text-success px-2">{{ done|safe }}
                </h1>
                {% else %}
                <h1 class="text-danger px-2">{{ pending|safe }}
                </h1>
                {% endif %}
            </li>
            <li class="list-group-item d-flex justify-content-center">CPF:
                {% if documents.cpf %}
                <h1 class="text-success px-2">{{ done|safe }}
                </h1>
                {% else %}
                <h1 class="text-danger px-2">{{ pending|safe }}
                </h1>
                {% endif %}
            </li>
            <li class="list-group-item d-flex justify-content-center">RG:
                {% if documents.rg %}
                <h1 class="text-success px-2">{{ done|safe }}
                </h1>
                {% else %}
                <h1 class="text-danger px-2">{{ pending|safe }}
                </h1>
                {% endif %}
            </li>
        </ul>
    </div>
</div>
<style>
    .profile-image-wrapper {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        overflow: hidden;
        margin: 0 auto;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .profile-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .list-group {
        display: flex;
        list-style-type: none;
    }

    li {
        display: flex;
    }
    
    .acessibilidade {
    position: fixed;
    top: 18%;
    left: 1260px;
    transform: translateY(-50%); 
    }

    .acessibilidade button:hover {
      background-color: blue; 
      color: white;  
    }

    .acessibilidade button:focus {
      outline: none; 
      box-shadow: 0 0 5px blue;  
    }
</style>
{% endblock %}
