{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% load custom_filters %}

{% block title %}Envio de Documentos{% endblock %}

{% block content %}
<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title text-center mb-4">Envio de Documentos</h3>
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
            <div class="mb-3">
              <label class="form-label">{{ field.label }}</label>
              {% if documents_uploaded|get_item:field.name %}
              <p class="form-control-static text-success">Documento já enviado</p>
              {% else %}
              {{ field }}
              {% endif %}
            </div>
            {% endfor %}
            <div class="text-center mt-4">
              <button type="submit" class="btn btn-primary">Enviar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}