<!-- register.html -->
{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Cadastro Usuário{% endblock %}

{% block content %}
<div class="container">
    <main>
        <div class="row g-5">
            <div class="pai-aces">
                <div class="acessibilidade">
                    <!-- Botões para aumentar ou diminuir a fonte -->
                    <button onclick="aumentarFonte()" 
                    style="border: 1px solid white; 
                           background-color: rgba(173, 216, 230, 0.5); 
                           color: rgb(25, 118, 211); 
                           padding: 6px 14px; 
                           font-size: 14px; 
                           border-radius: 8px; 
                           cursor: pointer; 
                           transition: background-color 0.3s, color 0.3s; 
                           margin-bottom: 10px;">
                    Aumentar Fonte
                    </button>
                    <button onclick="diminuirFonte()" 
                            style="border: 2px solid white; 
                                background-color: rgba(173, 216, 230, 0.5); 
                                color: rgb(25, 118, 211); 
                                padding: 6px 14px; 
                                font-size: 14px; 
                                border-radius: 8px; 
                                cursor: pointer; 
                                transition: background-color 0.3s, color 0.3s; 
                                margin-bottom: 10px;">
                        Diminuir Fonte
                    </button>
                    <script>
                        function aumentarFonte() {
                            let html = document.documentElement; 
                            let style = window.getComputedStyle(html, null).getPropertyValue('font-size');
                            let currentSize = parseFloat(style);
                            html.style.fontSize = (currentSize + 1) + 'px';  // Aumenta a fonte em 1px
                        }
                        
                        function diminuirFonte() {
                            let html = document.documentElement;
                            let style = window.getComputedStyle(html, null).getPropertyValue('font-size');
                            let currentSize = parseFloat(style);
                            html.style.fontSize = (currentSize - 1) + 'px';  // Diminui a fonte em 1px
                        }                    
                    </script>
                </div>
                <h4 class="mb-3">Cadastro de Usuário</h4>
                <form class="needs-validation" method="post" action="" aria-labelledby="registration-form">
                    {% csrf_token %}
                    <div class="row g-3">
                        {{ form|crispy }}

                        <div class="mb-3">
                            <button type="submit" class="btn btn-primary">Registrar</button>
                        </div>
                    </div>
                </form>
                <div class="text-center mt-3">
                    <p>Já tem uma conta? <a href="{% url 'login' %}">Faça login aqui</a>.</p>
                </div>
            </div>
        </div>
    </main>
    <div class="pb-5"></div>
</div>
<style>
    #div_id_dob fieldset {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
        padding: 0;
        border: none;
        margin: 0;
    }

    #div_id_dob legend {
        width: 100%;
        font-size: 1rem;
        margin-bottom: 0.5rem;
        font-weight: 400;
        padding: 0;
    }

    #div_id_dob select.form-control {
        flex: 0 0 auto;
        display: inline-block !important;
        margin: 0 !important;
    }

    #id_dob_day {
        width: 4.5rem !important;
    }

    #id_dob_month {
        width: 8.5rem !important;
    }

    #id_dob_year {
        width: 6.5rem !important;
    }

    .container .row-g5 .pai-aces .acessibilidade {
        position: fixed;
        top: 32%;
        right: 1050px;
        transform: translateY(-50%); 
    }
    
    .container .row-g5 .pai-aces .acessibilidade button:hover {
          background-color: blue; 
          color: white;  
      }
    
    .container .row-g5 .pai-aces .acessibilidade button:focus {
          outline: none; 
          box-shadow: 0 0 5px blue;  
      }
</style>
{% endblock %}