<!-- base.html -->

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}Título{% endblock %}</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>

{% if request.user.is_authenticated %}
{% include "dashboard/header.html" with user=request.user %}
{% else %}
{% include "components/header.html"%}
{% endif %}

{% block content %}{% endblock %}

{% include "components/footer.html" %}
{% include 'components/action_modal.html' %}

<script src="{% static 'js/bootstrap.bundle.js'%}"></script>