<!-- base.html -->
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"
    <title>{% block title %}Título{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
  <div class="nav-bar">
    <img src="{% static 'images/Logo-AWS-color.png' %}" alt="AWS Logo" class="logo">
    <nav class="menu">
      <a href="{% url 'index' %}">Home</a>
      <a href="#">Serviços</a>
      <a href="#">Contato</a>
    </nav>
  </div>
    {% block content %}{% endblock %}
</body>
</html>
